
.container {
    display: inline-block;
    position: relative;
}

.content {
    position: absolute;
    z-index: 1;    
    display: none;
}

.container:hover .content{
    display: block;
}
.text {
    text-align: center;
    background-color: red;    
}
