
h3 {
    border: 3px solid red;
   /* position: relative;
    top:50px;
    right:50px; */    
}

p {
    border: 3px solid blue;
    /*position: relative;
    top: 10px;
    left: 30px;*/
}

#one {
    border: 3px solid green;
    position:fixed;
    top: 0;
    left:0;
}